* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: Arial, sans-serif; */
  font-family: "Righteous", cursive;
  background-color: #f9f9f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
  padding: 60px 5vw;
  flex-wrap: wrap;
  min-height: 100vh;
}

.image-container {
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
}

.image-container img {
  animation: bounceUpDown 3s ease-in-out infinite;
  width: 70%;
  max-width: 400px;
}

.form-container {
  flex: 1 1 100px;
  max-width: 400px;
  background: #ffffff;
  padding: 40px 30px;
  border-radius: 8px;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  margin-right: 100px;
}

.form-container h2 {
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.form-container p {
  margin-bottom: 24px;
  font-size: 0.95rem;
  color: #666;
  text-align: center;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-container input {
  padding: 14px 0;
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  outline: none;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.form-container input:focus {
  border-bottom: 1px solid #5722d1;
}

.form-container button {
  padding: 14px;
  background: linear-gradient(135deg, #5722d1, #a042f4);
  color: white;
  font-size: 16px;
  border: none;
  margin-top: 25px;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.form-container button:hover {
  background: linear-gradient(135deg, #5722d1, #a042f4);
}

.form-container a {
  text-align: center;
  font-size: 0.9rem;
  color: #5722d1;
  text-decoration: none;
  transition: 0.2s;
}

.form-container a:hover {
  text-decoration: underline;
}

@keyframes bounceUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

/* ===== Responsive Styles ===== */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 40px 20px;
  }

  .image-container {
    display: none;
  }

  .form-container {
    margin-right: 0;
    max-height: 390px;
    overflow-y: auto;
    padding: 24px 18px;
  }

  .form-container form {
    gap: 10px;
  }

  .form-container button {
    margin-top: 15px;
    padding: 12px;
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .form-container {
    max-width: 300px;
    padding: 20px 16px;
  }
}
